<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Responsive side navigation
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <p class="designation">Click a character category</p>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="'/characters/people'" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>People</span>
        </button>

        <button mat-button class="menu-button" [routerLink]="'/characters/starships'" routerLinkActive="active">
            <mat-icon>star_border</mat-icon>
            <span>Starships</span>
        </button>
        
        <button mat-button class="menu-button" [routerLink]="'/characters/planets'" routerLinkActive="active">
            <mat-icon>language</mat-icon>
            <span>Planets</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="'/ui-demo'">
            <mat-icon>help</mat-icon>
            <span>Ui Demo</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
